.fl {
  float: left;
}

.fr {
  float: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.w {
  width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 30px;
  border: 1px solid #ebebeb;
}

header .nav {
  overflow: hidden;
}

header .nav ul {
  float: right;
}

header .nav ul li {
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 14px;
  color: #666666;
  margin-right: 25px;
}

header .nav ul li a {
  color: #000;
  font-weight: normal;
}

header .nav .xian {
  float: right;
  width: 1px;
  height: 15px;
  background-color: #ebebeb;
  margin: 7px 25px 0px 0px;
}

header .nav .r li a {
  color: #666666;
}

section .top {
  padding: 25px 120px 30px 70px;
  overflow: hidden;
}

section .top .logo {
  float: left;
  margin-right: 20px;
}

section .top .logo img {
  width: 135px;
  height: 40px;
}

section .top .search {
  float: left;
  overflow: hidden;
}

section .top .search input {
  float: left;
  border: 1px solid #cccccc;
  width: 440px;
  height: 42px;
}

section .top .search label {
  float: left;
  width: 105px;
  height: 42px;
  background-color: #3385ff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}

section .top .search span {
  float: left;
  width: 105px;
  height: 42px;
  border: 1px solid #3385ff;
  color: #3385ff;
  text-align: center;
  line-height: 40px;
}

section .nav {
  overflow: hidden;
}

section .nav .one {
  float: left;
}

section .nav .two {
  float: right;
}

section .list {
  text-align: center;
}

.content {
  overflow: hidden;
}

.content .lf {
  width: 210px;
  background-color: #f6f7fb;
  border: 1px solid #e7e7e7;
}

.content .lf .one {
  font-size: 12px;
  position: relative;
  height: 80px;
  border-bottom: 1px solid #e7e7e7;
  margin: 5px 10px;
}

.content .lf .one h4 {
  margin-bottom: 10px;
  color: #000;
}

.content .lf .one .di {
  background: #f6f7fb;
  position: absolute;
  bottom: -17px;
  left: 0px;
}

.content .lf div {
  padding: 15px 0px 0px 10px;
  border-bottom: 1px solid #e7e7e7;
  color: #999999;
}

.content .lf div .top {
  font-size: 14px;
}

.content .lf div .top span {
  margin-right: 10px;
}

.content .lf div p {
  font-size: 12px;
  margin-bottom: 10px;
}

.content .lf div p span {
  margin-right: 5px;
}

.content .rh {
  width: 778px;
}

.content .rh .one {
  padding: 10px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
}

.content .rh .one p {
  margin-bottom: 10px;
  font-size: 15px;
}

.content .rh .one .first {
  overflow: hidden;
  margin-bottom: 15px;
}

.content .rh .one .first .lt {
  width: 370px;
}

.content .rh .one .first .lt div {
  margin-right: 10px;
}

.content .rh .one .first .lt div .top {
  overflow: hidden;
  margin-bottom: 15px;
  color: #005196;
}

.content .rh .one .first .lt div p {
  font-size: 14px;
  color: #666666;
}

.content .rh .one .first .lt div .bottom {
  margin-top: 25px;
}

.content .rh .one .first .lt div .bottom span {
  margin-right: 10px;
}

.content .rh .one .first .rh {
  width: 380px;
}

.content .rh .one .first .rh div {
  margin-right: 10px;
}

.content .rh .one .first .rh div .top {
  overflow: hidden;
  margin-bottom: 15px;
  color: #005196;
}

.content .rh .one .first .rh div p {
  font-size: 14px;
  color: #666666;
}

.content .rh .one .first .rh div .bottom {
  margin-top: 25px;
}

.content .rh .one .first .rh div .bottom span {
  margin-right: 10px;
}

.content .rh .one .last ul {
  width: 710px;
  margin: 0 auto;
}

.content .rh .one .last ul li {
  float: left;
  width: 170px;
  height: 72px;
  border: 1px solid #e7e7e7;
  margin-right: 10px;
  padding: 3px;
}

.content .rh .one .last ul li p {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 5px;
}

.content .rh .one .last ul li p span {
  font-size: 12px;
}

.content .rh .two {
  margin-top: 20px;
  overflow: hidden;
}

.content .rh .two .top {
  width: 550px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  padding: 8px 8px 0px;
}

.content .rh .two .wai {
  width: 260px;
  overflow: hidden;
}

.content .rh .two .wai h4 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.content .rh .two .wai div {
  font-size: 12px;
  overflow: hidden;
}

.content .rh .two .wai ul li {
  border: 1px solid #e7e7e7;
  width: 70px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

.content .rh .two .content {
  width: 550px;
  border: 1px solid #e7e7e7;
  margin: 18px 0px;
  font-size: 14px;
  color: #0090d7;
}

.content .rh .two .content p {
  width: 58px;
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #0090d7;
  margin-left: 20px;
}

.content .rh .two .bottom {
  width: 550px;
  font-size: 14px;
  padding: 8px;
}

.content .rh .two .bottom .tit {
  color: #0090d7;
  margin-bottom: 10px;
}

.content .rh .two .bottom .text {
  font-size: 12px;
  line-height: 25px;
  color: #666666;
}

.content .rh .two .bottom div {
  margin-top: 10px;
}

.content .rh .two .bottom div span {
  margin-right: 10px;
}

.content .rh .two .bottom .time {
  margin-top: 10px;
  font-size: 12px;
  color: #666666;
}

.content .rh .two .bottom .time span {
  display: inline-block;
  margin-right: 15px;
  padding-left: 20px;
}

.content .rh .two .bottom .time .peo {
  background: url(./../images/bg_1_51.gif) no-repeat 3px 3px;
}

.content .rh .two .bottom .time .ti {
  background: url(./../images/bg_1_53.gif) no-repeat 3px 3px;
}

.content .rh .two .r_side {
  width: 220px;
  padding-left: 10px;
  font-size: 14px;
}

.content .rh .two .r_side .fr_top h4 {
  font-weight: normal;
  border: 1px solid #e7e7e7;
  padding: 10px;
}

.content .rh .two .r_side .fr_top div {
  width: 100%;
  height: 95px;
  color: #666666;
  font-size: 12px;
  background: url(./../images/bg_1_31.gif) no-repeat 125px 10px;
  padding: 25px 10px;
}

.content .rh .two .r_side .fr_top div p {
  line-height: 20px;
}

.content .rh .two .r_side .ul_ ul {
  margin-top: 15px;
}

.content .rh .two .r_side .ul_ ul li {
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 18px;
}

.content .rh .two .r_side .ul_ ul li .col {
  background-color: #ff7f42;
}

.content .rh .two .r_side .ul_ ul li .num {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}

.content .rh .two .r_side .ul_ ul li span {
  margin-right: 8px;
}

.content .rh .two .r_side .ul_ ul li .fr {
  margin-right: 0px;
}
